<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Booking</title>
</head>
<body>
<h2>Update Booking</h2>

<form method="post" action="{{url_for('editbooking',id = booking['bookingid'])}}">
  <p>Customer Name</p>
  <input type="text" name="name" value='{{booking["name"]}}'/>
  <p>Flight Number</p>
  <input type="text" name="flightno" value='{{booking["flightno"]}}'/>
  <p>Destination</p>
    <select name="destination">

        {% for destination in destinations %}
        <option  name="{{destination}}" value="{{destination}}" {% if booking['Destination'] == destination %} selected {%endif%}>{{destination}}</option>
        {% endfor%}
    </select>
    <p>Price</p>
    <input type="number" name="price" value='{{booking["price"]}}'>
    <button type="submit">Update</button>
</form>
<a href="{{ url_for('home') }}">Cancel</a>
</body>
</html>